/* 동일한 클래스를 덮는방법 or 사용자정의 클래스를 만들어서 주는 방법 */
/* 헤더부분 */
.navbar-inverse {
    background-color: rgb(48, 45, 41);
    border-color: rgb(225, 209, 186);
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand {
    padding: 4px 15px;
}

.form-control {
    border-radius: 0;
}

.btn {
    border-radius: 0;
}

.form-control:focus {
    border: #ccc;
    box-shadow: none
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #ffffff1e;
}

/* 슬라이드 영역 */
.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

/* 본문영역 */
.prod-list {
    border-top: 1px solid #d7d7d7;
    padding: 5px;
}

.prod-list>li[class*=col-] {
    padding: 10px;
}

.prod-link {
    border: 1px solid #000;
    display: block;
    text-align: center;
    position: relative;
}


.prod-link>.arrow {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #c5c5c5;
    padding: 10px 15px;
    color: #fff;
}

.prod-link>.hover {
    background-color: rgb(81, 186, 227);
    opacity: 0;
    transition: .2s;
}

.prod-link:hover {
    border-color:  rgb(81, 186, 227);
}

.prod-link:hover>.hover {
    opacity: 1;
}

.prod-color{
    margin-top: -23px;
    opacity: 0;
    transition: .25s;
}

.prod-color ul {
    overflow: hidden;
}

.prod-color ul li{
    float: left;
    width: 50px;
}

.prod-content{
    float: left;
}

.prod-content p{
    margin: 5px 0 0px 0;
}

.price{
    float: right;
}

.price b{
    display: inline-block;
    margin: 10px
}

.sec-prod{
    overflow: hidden;
}

.sec-list li:hover .prod-color{
    opacity: 1;

}