
/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&display=swap');

/* 공통으로 적용될 디자인 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

li,
dd,
dl,
ol,
ul {
    list-style: none;
}
html,body{
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
}

/* 구글, 사파리, 파이어폭스 등등 input태그는 기본디자인이 조금씩 다를 수 있다. */
/* 기본 디자인을 지우고, 직접 디자인을 해서 브라우저별로 디자인을 통일 시킨다. */
/* input[type=checkbox], input[type=radio]{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
} */